:root{
    --off-canvas-width: 270px;
    --top-navbar-height:56px;
}

#offcanvasExample{
    width: var(--off-canvas-width);
}

.sidebar-link{
    display: flex;
    align-items: center;
}

.sidebar-link .right-icon{
    display: inline-flex;
    transition: all ease 0.25s;
}

.sidebar-link[aria-expanded="true"] .right-icon{
    transform: rotate(180deg);
}

main{
    margin-left: var(--off-canvas-width);
}

@media (min-width: 992px) {
    body{
        overflow: none  !important;
    }
    .offcanvas-backdrop::before{
        display: none;
    }
    #offcanvasExample{
        transform: none;
        visibility: visible !important;
        top: var(--top-navbar-height);
        height: calc(100% - var(--top-navbar-height));
    }
}